# Predicting Home Value
Due to our dataset find, our team has changed our scope from predicting home features to predicting home price using different statistical approaches. Together we will trial and error multiple algorithms and explore there utility in predicting home prices. Across these different algorithms we will use similar metrics such as MSE to determine the relative success of the model.

## Our Scope
A real estate investment firm has tasked our Group1 consulting team to develop a model to predict home prices based on a set of given parameters. Obviously we know location is the biggest idicator of home prices, but our team will use a combination of other home features to figure out the value of a home

## Our Data
We will be using the a publically availble dataset from Kaggle. The data contained in the set Austin, TX House Listings. It was scraped in January 2021 and is highly ranked on Kaggle for being clean and usable. Below is the link to the dataset.
https://www.kaggle.com/datasets/ericpierce/austinhousingprices?resource=download

# Familiarizing with Dataset

In [1]:
# import pandas for EDA
import pandas as pd

In [2]:
file_path = 'data/austinHousingData.csv'
df = pd.read_csv(file_path)
df.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432672,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   city                        15171 non-null  object
 2   streetAddress               15171 non-null  object
 3   zipcode                     15171 non-null  int64
 4   description                 15171 non-null  object
 5   latitude                    15171 non-null  float64
 6   longitude                   15171 non-null  float64
 7   propertyTaxRate             15171 non-null  float64
 8   garageSpaces                15171 non-null  int64
 9   hasAssociation              15171 non-null  bool
 10  hasCooling                  15171 non-null  bool
 11  hasGarage                   15171 non-null  bool
 12  hasHeating                  15171 non-null  bool
 13  hasSpa                      15171 non-null  bool
 14  hasView                     15171 non-null  bool
 15  homeType                    15171 non-null  object
 16  parkingSpaces               15171 non-null  int64
 17  yearBuilt                   15171 non-null  int64
 18  latestPrice                 15171 non-null  int64
 19  numPriceChanges             15171 non-null  int64
 20  latest_saledate             15171 non-null  object
 21  latest_salemonth            15171 non-null  int64
 22  latest_saleyear             15171 non-null  int64
 23  latestPriceSource           15171 non-null  object
 24  numOfPhotos                 15171 non-null  int64
 25  numOfAccessibilityFeatures  15171 non-null  int64
 26  numOfAppliances             15171 non-null  int64
 27  numOfParkingFeatures        15171 non-null  int64
 28  numOfPatioAndPorchFeatures  15171 non-null  int64
 29  numOfSecurityFeatures       15171 non-null  int64
 30  numOfWaterfrontFeatures     15171 non-null  int64
 31  numOfWindowFeatures         15171 non-null  int64
 32  numOfCommunityFeatures      15171 non-null  int64
 33  lotSizeSqFt                 15171 non-null  float64
 34  livingAreaSqFt              15171 non-null  int64
 35  numOfPrimarySchools         15171 non-null  int64
 36  numOfElementarySchools      15171 non-null  int64
 37  numOfMiddleSchools          15171 non-null  int64
 38  numOfHighSchools            15171 non-null  int64
 39  avgSchoolDistance           15171 non-null  float64
 40  avgSchoolRating             15171 non-null  float64
 41  avgSchoolSize               15171 non-null  int64
 42  MedianStudentsPerTeacher    15171 non-null  int64
 43  numOfBathrooms              15171 non-null  float64
 44  numOfBedrooms               15171 non-null  int64
 45  numOfStories                15171 non-null  int64
 46  homeImage                   15171 non-null  object
dtypes: bool(6), float64(7), int64(27), object(7)
memory usage: 4.8+ MB

As you can see from the initial info() method, the dataset itself is very clean and usable. There isn't much data pre-processing needed in order to clean the data since there are no null values, and the majority of features are in a usable format.

### Dropping non-int and changing booleans
The only pre-processing we will need to do is to drop any d-type that is not an integer, like columns city, streetAddress, and description. We still have longitute and latitude so location is still within the dataset. Also we want to change the true and false values to 1's and 0's to make the entire dataset numerical.

In [4]:
#Droping the columns that are strings
col_drop_list = ['city', 'streetAddress', 'description']
df = df.drop(col_drop_list, axis=1)

df.shape

(15171, 44)

In [6]:
#Changing bool to int
col_bool_list = ['hasAssociation', 'hasCooling', 
                 'hasGarage', 'hasHeating', 'hasSpa', 'hasView']

for col in col_bool_list:
    name = col + '_int'
    df[name] = df[col].astype(int)

df.shape

(15171, 50)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 50 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   zipcode                     15171 non-null  int64
 2   latitude                    15171 non-null  float64
 3   longitude                   15171 non-null  float64
 4   propertyTaxRate             15171 non-null  float64
 5   garageSpaces                15171 non-null  int64
 6   hasAssociation              15171 non-null  bool
 7   hasCooling                  15171 non-null  bool
 8   hasGarage                   15171 non-null  bool
 9   hasHeating                  15171 non-null  bool
 10  hasSpa                      15171 non-null  bool
 11  hasView                     15171 non-null  bool
 12  homeType                    15171 non-null  object
 13  parkingSpaces               15171 non-null  int64
 14  yearBuilt                   15171 non-null  int64
 15  latestPrice                 15171 non-null  int64
 16  numPriceChanges             15171 non-null  int64
 17  latest_saledate             15171 non-null  object
 18  latest_salemonth            15171 non-null  int64
 19  latest_saleyear             15171 non-null  int64
 20  latestPriceSource           15171 non-null  object
 21  numOfPhotos                 15171 non-null  int64
 22  numOfAccessibilityFeatures  15171 non-null  int64
 23  numOfAppliances             15171 non-null  int64
 24  numOfParkingFeatures        15171 non-null  int64
 25  numOfPatioAndPorchFeatures  15171 non-null  int64
 26  numOfSecurityFeatures       15171 non-null  int64
 27  numOfWaterfrontFeatures     15171 non-null  int64
 28  numOfWindowFeatures         15171 non-null  int64
 29  numOfCommunityFeatures      15171 non-null  int64
 30  lotSizeSqFt                 15171 non-null  float64
 31  livingAreaSqFt              15171 non-null  int64
 32  numOfPrimarySchools         15171 non-null  int64
 33  numOfElementarySchools      15171 non-null  int64
 34  numOfMiddleSchools          15171 non-null  int64
 35  numOfHighSchools            15171 non-null  int64
 36  avgSchoolDistance           15171 non-null  float64
 37  avgSchoolRating             15171 non-null  float64
 38  avgSchoolSize               15171 non-null  int64
 39  MedianStudentsPerTeacher    15171 non-null  int64
 40  numOfBathrooms              15171 non-null  float64
 41  numOfBedrooms               15171 non-null  int64
 42  numOfStories                15171 non-null  int64
 43  homeImage                   15171 non-null  object
 44  hasAssociation_int          15171 non-null  int32
 45  hasCooling_int              15171 non-null  int32
 46  hasGarage_int               15171 non-null  int32
 47  hasHeating_int              15171 non-null  int32
 48  hasSpa_int                  15171 non-null  int32
 49  hasView_int                 15171 non-null  int32
dtypes: bool(6), float64(7), int32(6), int64(27), object(4)
memory usage: 4.8+ MB

In [8]:
df.hasAssociation_int.value_counts()

1    8007
0    7164
Name: hasAssociation_int, dtype: int64

In [9]:
#Drop the bool columns
df = df.drop(col_bool_list, axis=1)
df.shape

(15171, 44)

Now the data should be cleaned, all numeric, and ready to be used in the analysis.

### Creating testing and training data
In this next step we will be creating the testing and training data for our algorithm.

In [10]:
#Creating the initial testing and training datasets
train_df = df.sample(frac=.7, random_state=1)
test_df = df.drop(train_df.index)

print(train_df.shape, test_df.shape)

(10620, 44) (4551, 44)

In [13]:
#Create the target dataset
X_train = train_df.copy()
X_test = test_df.copy()

y_train = X_train.pop('latestPrice')
y_test = X_test.pop('latestPrice')

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(10620, 43) (4551, 43) (10620,) (4551,)