# Predicting Home Value
Due to our dataset find, our team has changed our scope from predicting home features to predicting home price using different statistical approaches. Together we will trial and error multiple algorithms and explore there utility in predicting home prices. Across these different algorithms we will use similar metrics such as MSE to determine the relative success of the model.

## Our Scope
A real estate investment firm has tasked our Group1 consulting team to develop a model to predict home prices based on a set of given parameters. Obviously we know location is the biggest idicator of home prices, but our team will use a combination of other home features to figure out the value of a home

## Our Data
We will be using the a publically availble dataset from Kaggle. The data contained in the set Austin, TX House Listings. It was scraped in January 2021 and is highly ranked on Kaggle for being clean and usable. Below is the link to the dataset.
https://www.kaggle.com/datasets/ericpierce/austinhousingprices?resource=download

# Familiarizing with Dataset

In [1]:
# import pandas for EDA
import pandas as pd

In [2]:
file_path = 'austinHousingData.csv'
df = pd.read_csv(file_path)
df.head(3)

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432672,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   city                        15171 non-null  object
 2   streetAddress               15171 non-null  object
 3   zipcode                     15171 non-null  int64
 4   description                 15171 non-null  object
 5   latitude                    15171 non-null  float64
 6   longitude                   15171 non-null  float64
 7   propertyTaxRate             15171 non-null  float64
 8   garageSpaces                15171 non-null  int64
 9   hasAssociation              15171 non-null  bool
 10  hasCooling                  15171 non-null  bool
 11  hasGarage                   15171 non-null  bool
 12  hasHeating                  15171 non-null  bool
 13  hasSpa                      15171 non-null  bool
 14  hasView                     15171 non-null  bool
 15  homeType                    15171 non-null  object
 16  parkingSpaces               15171 non-null  int64
 17  yearBuilt                   15171 non-null  int64
 18  latestPrice                 15171 non-null  int64
 19  numPriceChanges             15171 non-null  int64
 20  latest_saledate             15171 non-null  object
 21  latest_salemonth            15171 non-null  int64
 22  latest_saleyear             15171 non-null  int64
 23  latestPriceSource           15171 non-null  object
 24  numOfPhotos                 15171 non-null  int64
 25  numOfAccessibilityFeatures  15171 non-null  int64
 26  numOfAppliances             15171 non-null  int64
 27  numOfParkingFeatures        15171 non-null  int64
 28  numOfPatioAndPorchFeatures  15171 non-null  int64
 29  numOfSecurityFeatures       15171 non-null  int64
 30  numOfWaterfrontFeatures     15171 non-null  int64
 31  numOfWindowFeatures         15171 non-null  int64
 32  numOfCommunityFeatures      15171 non-null  int64
 33  lotSizeSqFt                 15171 non-null  float64
 34  livingAreaSqFt              15171 non-null  int64
 35  numOfPrimarySchools         15171 non-null  int64
 36  numOfElementarySchools      15171 non-null  int64
 37  numOfMiddleSchools          15171 non-null  int64
 38  numOfHighSchools            15171 non-null  int64
 39  avgSchoolDistance           15171 non-null  float64
 40  avgSchoolRating             15171 non-null  float64
 41  avgSchoolSize               15171 non-null  int64
 42  MedianStudentsPerTeacher    15171 non-null  int64
 43  numOfBathrooms              15171 non-null  float64
 44  numOfBedrooms               15171 non-null  int64
 45  numOfStories                15171 non-null  int64
 46  homeImage                   15171 non-null  object
dtypes: bool(6), float64(7), int64(27), object(7)
memory usage: 4.8+ MB

As you can see from the initial info() method, the dataset itself is very clean and usable. There isn't much data pre-processing needed in order to clean the data since there are no null values, and the majority of features are in a usable format.

### Dropping non-int and changing booleans
The only pre-processing we will need to do is to drop any d-type that is not an integer, like columns city, streetAddress, and description. We still have longitute and latitude so location is still within the dataset. Also we want to change the true and false values to 1's and 0's to make the entire dataset numerical.

In [4]:
#Droping the columns that are strings
col_drop_list = ['city', 'streetAddress', 'description', 'homeType','latest_saledate', 'latestPriceSource', 'homeImage' ]
df = df.drop(col_drop_list, axis=1)

df.shape

(15171, 40)

In [5]:
#Changing bool to int
col_bool_list = ['hasAssociation', 'hasCooling', 
                 'hasGarage', 'hasHeating', 'hasSpa', 'hasView']

for col in col_bool_list:
    name = col + '_int'
    df[name] = df[col].astype(int)

df.shape

(15171, 46)

In [6]:
df.hasAssociation_int.value_counts()

1    8007
0    7164
Name: hasAssociation_int, dtype: int64

In [7]:
#Drop the bool columns
df = df.drop(col_bool_list, axis=1)
df.shape

(15171, 40)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   zipcode                     15171 non-null  int64
 2   latitude                    15171 non-null  float64
 3   longitude                   15171 non-null  float64
 4   propertyTaxRate             15171 non-null  float64
 5   garageSpaces                15171 non-null  int64
 6   parkingSpaces               15171 non-null  int64
 7   yearBuilt                   15171 non-null  int64
 8   latestPrice                 15171 non-null  int64
 9   numPriceChanges             15171 non-null  int64
 10  latest_salemonth            15171 non-null  int64
 11  latest_saleyear             15171 non-null  int64
 12  numOfPhotos                 15171 non-null  int64
 13  numOfAccessibilityFeatures  15171 non-null  int64
 14  numOfAppliances             15171 non-null  int64
 15  numOfParkingFeatures        15171 non-null  int64
 16  numOfPatioAndPorchFeatures  15171 non-null  int64
 17  numOfSecurityFeatures       15171 non-null  int64
 18  numOfWaterfrontFeatures     15171 non-null  int64
 19  numOfWindowFeatures         15171 non-null  int64
 20  numOfCommunityFeatures      15171 non-null  int64
 21  lotSizeSqFt                 15171 non-null  float64
 22  livingAreaSqFt              15171 non-null  int64
 23  numOfPrimarySchools         15171 non-null  int64
 24  numOfElementarySchools      15171 non-null  int64
 25  numOfMiddleSchools          15171 non-null  int64
 26  numOfHighSchools            15171 non-null  int64
 27  avgSchoolDistance           15171 non-null  float64
 28  avgSchoolRating             15171 non-null  float64
 29  avgSchoolSize               15171 non-null  int64
 30  MedianStudentsPerTeacher    15171 non-null  int64
 31  numOfBathrooms              15171 non-null  float64
 32  numOfBedrooms               15171 non-null  int64
 33  numOfStories                15171 non-null  int64
 34  hasAssociation_int          15171 non-null  int32
 35  hasCooling_int              15171 non-null  int32
 36  hasGarage_int               15171 non-null  int32
 37  hasHeating_int              15171 non-null  int32
 38  hasSpa_int                  15171 non-null  int32
 39  hasView_int                 15171 non-null  int32
dtypes: float64(7), int32(6), int64(27)
memory usage: 4.3 MB

Now the data should be cleaned, all numeric, and ready to be used in the analysis.

## Analysis
In this lineal regression model We will work all features.

### Creating testing and training data
In this next step we will be creating the testing and training data for our algorithm.

In [9]:
# Getting column names
column_names=df.columns.tolist()
type(column_names)

list

In [11]:
# Deleting the name of the dependent name 'latestPrice'
column_names.remove('latestPrice')

In [12]:
# Independent values
X = df[column_names]

# Dependent values
y = df['latestPrice']

In [13]:
# importing train_test_split to create testing and trainin data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Comparing size of X sets
print(X.shape, X_train.shape, X_test.shape)

(15171, 39) (12136, 39) (3035, 39)

### Linear regression with StatsModels

In [15]:
import statsmodels.api as sm

In [16]:
# Creating the model
model = sm.OLS(endog=y_train, exog=sm.add_constant(X_train))

In [17]:
# Get model results
results = model.fit()

In [18]:
# Displey results summary
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            latestPrice   R-squared:                       0.443
Model:                            OLS   Adj. R-squared:                  0.442
Method:                 Least Squares   F-statistic:                     247.1
Date:                Tue, 25 Jul 2023   Prob (F-statistic):               0.00
Time:                        15:14:59   Log-Likelihood:            -1.7149e+05
No. Observations:               12136   AIC:                         3.431e+05
Df Residuals:                   12096   BIC:                         3.434e+05
Df Model:                          39
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       2.494e+08   1.73e+07     14.443      0.000    2.16e+08    2.83e+08
zpid                        1.466e-05      1e-05      1.460      0.144   -5.02e-06    3.43e-05
zipcode                    -3021.4276    171.741    -17.593      0.000   -3358.067   -2684.788
latitude                   -1.154e+05   4.97e+04     -2.322      0.020   -2.13e+05    -1.8e+04
longitude                   4.043e+05   6.81e+04      5.939      0.000    2.71e+05    5.38e+05
propertyTaxRate            -1.124e+06   7.79e+04    -14.414      0.000   -1.28e+06   -9.71e+05
garageSpaces                3.437e+04   4.12e+04      0.834      0.404   -4.64e+04    1.15e+05
parkingSpaces              -1.953e+04   4.08e+04     -0.478      0.632   -9.96e+04    6.05e+04
yearBuilt                   -934.8553    203.337     -4.598      0.000   -1333.429    -536.282
numPriceChanges            -8099.5723   1254.441     -6.457      0.000   -1.06e+04   -5640.667
latest_salemonth            -193.7741   1030.878     -0.188      0.851   -2214.460    1826.912
latest_saleyear             1.766e+04   4934.511      3.579      0.000    7986.402    2.73e+04
numOfPhotos                  768.5547    160.927      4.776      0.000     453.111    1083.998
numOfAccessibilityFeatures  4508.8764   1.74e+04      0.259      0.796   -2.96e+04    3.87e+04
numOfAppliances            -2479.9794   1708.197     -1.452      0.147   -5828.320     868.361
numOfParkingFeatures         4.32e+04   6314.749      6.841      0.000    3.08e+04    5.56e+04
numOfPatioAndPorchFeatures  9719.3121   4219.676      2.303      0.021    1448.072     1.8e+04
numOfSecurityFeatures       2070.3476   4545.413      0.455      0.649   -6839.389     1.1e+04
numOfWaterfrontFeatures     6.266e+05   4.94e+04     12.686      0.000     5.3e+05    7.23e+05
numOfWindowFeatures        -2648.5728   6972.677     -0.380      0.704   -1.63e+04     1.1e+04
numOfCommunityFeatures     -3.562e+04   1.81e+04     -1.963      0.050   -7.12e+04     -58.677
lotSizeSqFt                    0.0004      0.000      1.664      0.096   -6.53e-05       0.001
livingAreaSqFt                77.8208      2.629     29.602      0.000      72.668      82.974
numOfPrimarySchools         1.069e+05   2.88e+04      3.719      0.000    5.06e+04    1.63e+05
numOfElementarySchools      1.801e+05   2.49e+04      7.243      0.000    1.31e+05    2.29e+05
numOfMiddleSchools         -5.463e+04   1.47e+04     -3.713      0.000   -8.35e+04   -2.58e+04
numOfHighSchools           -8.948e+04   1.54e+04     -5.803      0.000    -1.2e+05   -5.93e+04
avgSchoolDistance           2302.4137   3225.179      0.714      0.475   -4019.454    8624.282
avgSchoolRating             5.926e+04   3503.343     16.914      0.000    5.24e+04    6.61e+04
avgSchoolSize                -88.3410     14.784     -5.976      0.000    -117.319     -59.363
MedianStudentsPerTeacher   -5644.9453   3449.764     -1.636      0.102   -1.24e+04    1117.145
numOfBathrooms              1.961e+05   4513.745     43.446      0.000    1.87e+05    2.05e+05
numOfBedrooms               -3.32e+04   4691.084     -7.077      0.000   -4.24e+04    -2.4e+04
numOfStories               -6.967e+04   7255.485     -9.603      0.000   -8.39e+04   -5.55e+04
hasAssociation_int         -1.594e+05   8405.177    -18.969      0.000   -1.76e+05   -1.43e+05
hasCooling_int              -8.18e+04   3.18e+04     -2.575      0.010   -1.44e+05   -1.95e+04
hasGarage_int              -9.422e+04   1.31e+04     -7.194      0.000    -1.2e+05   -6.85e+04
hasHeating_int             -3.857e+04   4.22e+04     -0.913      0.361   -1.21e+05    4.42e+04
hasSpa_int                  6.722e+04   1.21e+04      5.553      0.000    4.35e+04     9.1e+04
hasView_int                 3.179e+04   7622.535      4.171      0.000    1.68e+04    4.67e+04
==============================================================================
Omnibus:                    18380.030   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         40792797.893
Skew:                           8.768   Prob(JB):                         0.00
Kurtosis:                     286.485   Cond. No.                     1.90e+12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.9e+12. This might indicate that there are
strong multicollinearity or other numerical problems.

#### Coeffincient of determination is 0.44 that's not a good number, the better is close to 1
this model is explainin only the 44% of data

### Evaluation

In [19]:
# Get prediction with X_train using the model
y_train_pred = results.predict(sm.add_constant(X_train))
y_train_pred.shape

(12136,)

In [20]:
# RMSE
from sklearn.metrics import mean_squared_error
RMSE_train=mean_squared_error(y_train, y_train_pred, squared=False)
RMSE_train

331574.1996992208

Our model is off by about 331574 dollars in a given prediction

it's a bad number

In [21]:
# Get prediction with X_train using the model
y_test_pred = results.predict(sm.add_constant(X_test))

In [22]:
RMSE_test=mean_squared_error(y_test, y_test_pred, squared=False)
RMSE_test

375425.40475539543

In [23]:
# as long as the difference is small the model is consistent
diff = (RMSE_test - RMSE_train)/ RMSE_test *100
diff

11.680404282908201